@import "@/assets/scss/media.scss";
a {
  color: #555;
  text-decoration: none;
}
a:hover {
  color: #eb0080;
}
#setHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1002;
  background-color: #fff;
  border-bottom: 1px solid red;
  & .navigation {
    width: 100%;
    height: 65px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    user-select: none;
    & .navigation__container {
      height: 100%;
      display: flex;
      flex-direction: row;
      background-color: #fff;
      justify-content: space-between;
      & .nav_left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        & .nav_logo {
          width: 17em;
          height: 1.75em;
          background: url(../../assets/header-logo.png) no-repeat;
          background-size: contain;
          cursor: pointer;
        }
      }
      & .nav_right {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        & .nav_menu_list {
          padding: 0 .9em;
          display: inline-flex;
          margin-top: 1.25rem;
          cursor: pointer;
          height: 45px;
          & .nav_menu_list_link {
            display: inline-block;
            height: 100%;
          }
          & .menu_chidren {
            position: absolute;
            top:65px;
            background: #ddd;
            outline: none;
            border: 0;
            & .menu_chidren_item {
              border-bottom: 1px solid #ccc;
              & .menu_chidren_item_link {
                display: inline-block;
                padding: 1rem;
                height: 100%;
                width: 100%;
              }
            }
            & .menu_chidren_item:last-child{
              border-bottom: 0;
            }
          }
        }
      }
    }
  }
}


.active {
  border-bottom: 4px solid #eb0180;
}

// 字体设置
@media (min-width: 1240px) and (max-width: 1440px) {
  .navigation {
    font-size: 0.85rem;
  }
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .navigation {
    font-size: 0.95rem;
  }
}

@media #{$--device-pc} {
}
@media #{$--device-tablet} {
}
@media #{$--device-mobile} {
}
