#setFooter {
  width: 100%;
  background-color: #eee;
  & .footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    & .footer_link {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border-bottom: 1px solid #ccc;
      padding: 3.63rem 0 2.56rem 0;
      & .footerLink_item{
        flex-grow: 1;
        & h3{
          font-size: 1.25rem;
          font-weight: 600;
          color: #555;
          line-height: 1.75rem;
          min-height: 3.8rem;
          margin: 0;
          padding: 0;
        }
        & a{
          text-decoration: none;
          font-size: .94rem;
          font-weight: 300;
          line-height: 1.88rem;
        }
      }
    }
    
  }
}
